<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} #weGrapple{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <header>
        <div>
            <img class="ui fluid image" style="height:400px;margin:0;" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/37310266_1819961091383767_7585310130506301440_n.png?_nc_cat=108&_nc_oc=AQllnlzwfRQyS3oEmgRHfI-vBAY3AEHbc7solQf-KfSPI6M4NAjd0Lktku1iXFe_hCM&_nc_ht=scontent-frt3-1.xx&oh=edc4462e97cb55bd5413f9e75ddc6b49&oe=5DD07240"">
        </div>
    </header>

        {% if request.user.is_authenticated %}
    <div class="ui inverted segment">
        <a class="ui yellow button" href="{% url 'web:logout' %}">Logout</a>
        </div>
        {% else %}
        <a href="{% url 'web:login' %}">Login</a>
        <a href="{% url 'web:register' %}">Register</a>
        {% endif %}
        {% block blogContent %}

        {% endblock %}
</body>

</html>